######################################################################
############### watsonx Orchestrate MCP server settings ##############
# watsonx Orchestrate MCP server settings
export WXO_MCP_HOST=$(ipconfig getifaddr en0)
export WXO_MCP_PORT=8080
export WXO_MCP_TRANSPORT=http
export WXO_MCP_WORKING_DIRECTORY=$(pwd)
