######################################################################
############### watsonx Orchestrate Development Edition settings #####
# Developer
export WO_DEVELOPER_EDITION_SOURCE=myibm
# IBM ENTITLEMENT
export WO_ENTITLEMENT_KEY=<YOUR_ENTITLEMENT_KEY>
# IBM API KEY
export WATSONX_APIKEY=<YOUR_WATSONX_API_KEY>
export WATSONX_SPACE_ID=<YOUR_SPACE_ID>
# Optional configuration
#export WATSONX_REGION=us-south
#export WATSONX_URL=https://${WATSONX_REGION}.ml.cloud.ibm.com

######################################################################
############### watsonx Orchestrate MCP server settings ##############
# watsonx Orchestrate MCP server settings
export WXO_MCP_HOST=$(ipconfig getifaddr en0)
export WXO_MCP_PORT=8080
export WXO_MCP_TRANSPORT=http
export WXO_MCP_WORKING_DIRECTORY=$(pwd)

######################################################################
# Configure services credentials for watsonx Orchestrate Developer Edition 
export MINIO_ROOT_USER=minioadmin
export LANGFUSE_USERNAME=orchestrate
export MCP_GATEWAY_BASIC_USER=admin
export CLICKHOUSE_USER=clickhouse

export POSTGRES_PASSWORD=postgres
export MINIO_ROOT_PASSWORD=watsonxorchestrate
export LANGFUSE_PASSWORD=orchestrate
export MCP_GATEWAY_BASIC_PASSWORD=MCPbasic
export MCP_GATEWAY_ADMIN_PASSWORD=MCPadmin
export CLICKHOUSE_PASSWORD=clickhouse
export ES_PASSWORD=Elasticsearch
export MILVUS_PASSWORD=Milvus
export DB_ENCRYPTION_KEY=db_encryption_key